body {
    background-color: #345c78;
}

#titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:26px;
    font-style: italic;
    color:#ff0055;
}

.texto {
    text-align: center;
    text-decoration: line-through;
    color: #CCC;
    font-weight: bolder;
}